
#header {
	height: 90px;
}

.main-menu {
	margin-top: 22.5px;
}
.site-title {
	margin-top: 36px;
}

.accent-background {
	background-color: #f5f219;
}
.accent-color {
	color: #f5f219;
}

.sf-menu li a:hover,
.current-menu-item a,
.sf-menu li.sfHover a,
.sd-styled-title:before,
.sidebar-widget .sd-tab-titles {
	border-bottom: 2px solid #f5f219;
}
.sd-donate a,
.sf-menu li ul,
.sf-menu li li ul,
.sd-intro-box,
.post-rating,
.sd-newsletter,
.sd-pagination .current,
.sd-pagination .inactive:hover,
.sd-pagination .pagi-first:hover,
.sd-pagination .pagi-last:hover,
.sd-pagination .pagi-previous:hover,
.sd-pagination .pagi-next:hover,
.share-entry ul li.share-email a:hover,
.previous-article a:hover,
.next-article a:hover,
#footer .wpcf7-form input[type="submit"],
#footer .wpcf7-form input[type="submit"]:active,
#footer .wpcf7-form input[type="reset"]:active,
#footer .wpcf7-form input[type="button"]:active,
.sd-event-date-time i,
.sd-event-location i,
.sd-author-box {
	background-color: #f5f219;
}

a,
.site-title a,
.footer-sidebar-widget a,
.copyright a,
.entry-title a,
.sidebar-widget a,
.entry-meta ul li a,
.comment-text cite a {
	background-color: transparent;
	transition: background-color 250ms;
}
a:hover,
.site-title a:hover,
.footer-sidebar-widget a:hover,
.copyright a:hover,
.entry-title a:hover,
.sidebar-widget a:hover,
.entry-meta ul li a:hover,
.comment-text cite a:hover {
	color: black !important;
	background-color: #f5f219;
}
.sd-donate-button,
.sd-list-style li:before {
	color: #f5f219;
}
.sd-fund-percent .skill,
.sidebar-widget .sd-tab-titles .ui-tabs-selected a,
.sidebar-widget .sd-tab-titles .ui-tabs-active a,
.sd-tab-titles .ui-tabs-selected a,
.sd-tab-titles .ui-tabs-active a,
.pricing-featured {
	background-color: #f5f219 !important;
}

.respond-inputs input:focus,
.respond-textarea textarea:focus,
#footer .wpcf7-form input[type="text"]:focus,
#footer .wpcf7-form input[type="email"]:focus,
#footer .wpcf7-form textarea:focus,
.wpcf7-form input[type="text"]:focus,
.wpcf7-form input[type="email"]:focus,
.wpcf7-form textarea:focus {
	border: 1px solid #f5f219;
}
.tooltip-content {
	background: #f5f219 !important;	
}

.tooltip-content:after,
.tooltip-content:before {
	border-top: 15px solid #f5f219 !important;
}
.tooltip-content:before {
	border-top-color: #f5f219 !important;
}
.toggle-title span:before,
.ui-accordion-header span:before {
	color: #f5f219 !important;
}