
$small: 576px !default;
$iefix: 0.01px;
$gutter: 20px;
$book-height: 250px;

* {
  box-sizing: border-box;
}

body {
  color: #1e1d1c;
}

ul li ul li {
  text-indent: 0;
}
.sf-menu {
  a {
    text-transform: none;
  }
  li {
    ul {
      padding: 0;
    }
    li,
    li.current-menu-item {
      a {
        text-transform: none;
        padding: 0.4em 1em;
        line-height: 1.5;
      }
    }
  }
}

p {
  padding-bottom: 0.8em;
}
textarea {
  font-family: inherit !important;
}

.sd-site-title {
  img {
    height: 70px;
    width: auto;
    margin-top: 10px;
  }
  @media (max-width: $small - 1) {
    text-align: center;
    margin-top: 15px;

    img {
      height: auto;
    }
  }
}

select.mnav {
  font-size: 1.5em;
  background-color: #1e1d1c;
  border: 1px solid #312F2E;
  color: #938e89;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#footer {
  color: #938e89;
}
.legal-link {
  margin-left: 2em;
}
.moretag {
  font-weight: bold;
  display: inline-block;
  margin-top: 0.5em;
}

// HOME INTRO --------------------------------------------

$color_brown: #757554;
$intro_padding: 120px;
$push_title_height: 60px;

.home-intro {
  background: {
    position: center center;
    repeat: no-repeat;
    size: cover;
  };
  padding: $intro_padding 0;
  //min-height: 40vh;
  text-align: center;

  h1 {
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    padding-bottom: 0;
    margin-bottom: 25px;
  }
  p {
    color: white;
    margin-bottom: 25px;
  }
  .donation-text {
    font-weight: bold;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
}

.tpl-donate-button {
  display: inline-block;
  padding: 1em 2em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;

  &:hover {
    opacity: 0.8;
    color: black;
  }
}

// HOME PUSH BLOCKS --------------------------------------------

.home-push-blocks {
  margin-top: $intro_padding;
  margin-bottom: -$intro_padding;
  text-align: left;

  .push-block {
    position: relative;
    padding: 1.5em 15px;

    .title {
      position: relative;
      min-height: $push_title_height;
      margin-bottom: 1em;
      text-transform: uppercase;

      > * {
        top: 50%;
        transform: translate(0, -50%);
      }
      i.fa {
        position: absolute;
        left: 0;
        color: black;
        background-color: white;
        border-radius: 10em;
        width: $push_title_height;
        height: $push_title_height;
        line-height: $push_title_height;
        text-align: center;
        font-size: 25px;
      }
      span {
        position: absolute;
        left: 15px;
        margin-left: $push_title_height;
        color: black;
        font-size: 16px;
        font-weight: bold;
        display: block;
        text-align: left;

        &:before {
          content: '';
          position: absolute;
          bottom: -10px;
          left: 0;
          border-bottom: 2px solid white;
          width: 50%;
        }
      }
    }
    .content {
      margin-top: 0;
      padding-left: 5px;

      p {
        color: $color_brown;
        margin-bottom: 0;
      }
    }
  }
}


// RESOURCES --------------------------------------------

.members-lists {
  margin-bottom: 50px;
}
.tpl-resource {
  img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
}
.tpl-book {
  text-align: center;

  .image {
    width: 100%;
    height: $book-height;
    margin-bottom: 15px;

    img {
      min-width: auto;
      max-width: none;
      height: $book-height;
      width: auto;
      margin-bottom: 0;
    }
  }
}
.tpl-member-other {
  display: flex;
  margin-bottom: 1em;

  h5 {
    display: inline-block;
    padding-bottom: 0;
    margin-right: 1em;
    line-height: 1.25;
  }
  > div {
    display: inline-block;
    line-height: 1.35;
  }
  p {
    padding-bottom: 0;
  }
}
.tpl-link {
  > .image {
    text-align: center;
    width: 100%;
    //height: 120px;
    //max-height: 120px;
    margin-bottom: 15px;

    a {
      display: block;
      width: 100%;
      //height: 120px;
      //max-height: 120px;
      //height: 100%;
    }
    img {
      display: inline-block;
      //height: 100%;
      max-height: 120px;
      width: auto;
      min-width: auto;
      //max-width: 100%;
      margin-bottom: 0;
    }
  }
}

@media (min-width: $small) {
  .grid-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -$gutter / 2;
    margin-left: -$gutter / 2;

    & > * {
      box-sizing: border-box;
      min-width: 0;
      min-height: 0;
      width: calc(100% / 4 - #{$gutter} - #{$iefix});
      margin-right: $gutter / 2;
      margin-left: $gutter / 2;
      margin-bottom: $gutter;
    }
  }
  .grid-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -$gutter / 2;
    margin-left: -$gutter / 2;

    & > * {
      box-sizing: border-box;
      min-width: 0;
      min-height: 0;
      width: calc(100% / 2 - #{$gutter} - #{$iefix});
      margin-right: $gutter / 2;
      margin-left: $gutter / 2;
      margin-bottom: $gutter;
    }
  }

  .tpl-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: $gutter;

    & > * {
      box-sizing: border-box;
      min-width: 0;
      min-height: 0;
      margin-right: $gutter / 2;
      margin-left: $gutter / 2;
    }
    > .image {
      width: calc(20% - #{$gutter} - #{$iefix});
      text-align: center;

      a {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
      img {
        display: inline-block;
        width: auto;
        min-width: auto;
        max-width: 100%;
        margin-bottom: 0;
      }
    }
    > .details {
      width: calc(80% - #{$gutter} - #{$iefix});
    }
  }
}


// TPL TABS --------------------------------------------

#sd-tabs-tpl {
  margin-bottom: 50px;

  .sd-tab-titles a {
    text-transform: uppercase;
    height: auto;
    line-height: initial;
  }
}


// MAILCHIMP FORM --------------------------------------------

#mc_embed_signup_scroll {
  .mc-field-group {
    width: 80%;
  }
  #mc-embedded-subscribe {
    width: 20%;
  }
}


// NINJA FORM REGULAR --------------------------------------------

.wpgmza_sl_main_div input[type="number"],
.wpgmza_sl_main_div input[type="text"],
.wpgmza_sl_main_div input[type="email"],
.nf-form-content input[type="number"],
.nf-form-content input[type="text"],
.nf-form-content input[type="email"] {
  border: 1px solid #cccccc;
  color: #5a5a62;
  height: 40px;
  line-height: 40px;
  margin: 5px 0 0;
  max-width: 100%;
  padding: 0 10px;
  width: 100%;
}
.wpgmza_sl_main_div input[type="number"]:focus,
.wpgmza_sl_main_div input[type="text"]:focus,
.wpgmza_sl_main_div input[type="email"]:focus,
.nf-form-content input[type="number"]:focus,
.nf-form-content input[type="text"]:focus,
.nf-form-content input[type="email"]:focus,
.nf-form-content textarea:focus {
  border: 1px solid #f5f219;
}
.nf-form-content textarea {
  border: 1px solid #cccccc;
  color: #5a5a62;
  max-width: 100%;
  padding: 10px 0 0 10px;
  width: 100%;
}
.wpgmza_sl_main_div input[type="submit"],
.wpgmza_sl_main_div input[type="submit"]:active,
.wpgmza_sl_main_div input[type="submit"]:hover,
.wpgmza_sl_main_div input[type="reset"],
.wpgmza_sl_main_div input[type="reset"]:active,
.wpgmza_sl_main_div input[type="reset"]:hover,
.wpgmza_sl_main_div input[type="button"],
.wpgmza_sl_main_div input[type="button"]:active,
.wpgmza_sl_main_div input[type="button"]:hover,
.tpl-form .nf-form-content input[type="submit"],
.tpl-form .nf-form-content input[type="submit"]:active,
.tpl-form .nf-form-content input[type="submit"]:hover,
.tpl-form .nf-form-content input[type="reset"],
.tpl-form .nf-form-content input[type="reset"]:active,
.tpl-form .nf-form-content input[type="reset"]:hover,
.tpl-form .nf-form-content input[type="button"],
.tpl-form .nf-form-content input[type="button"]:active,
.tpl-form .nf-form-content input[type="button"]:hover {
  background-color: #f5f219;
  border: none;
  border-radius: 0;
  color: #1c1c1c;
  text-transform: uppercase;
  padding: 8px 20px;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.wpgmza_sl_main_div input[type="submit"]:hover,
.wpgmza_sl_main_div input[type="reset"]:hover,
.wpgmza_sl_main_div input[type="button"]:hover,
.tpl-form .nf-form-content input[type="submit"]:hover,
.tpl-form .nf-form-content input[type="reset"]:hover,
.tpl-form .nf-form-content input[type="button"]:hover {
  opacity: .8;
}
div.wpcf7-validation-errors {
  display: none !important;
}
span.wpcf7-not-valid-tip {
  top: 0 !important;
  left: 10px !important;
  width: 230px !important;
  padding: 0 !important;
  line-height: 20px;
  border: none !important;
  color: #00adee;
  background: #fff;
}

.tpl-form .nf-form-content input[type="number"],
.tpl-form .nf-form-content input[type="text"],
.tpl-form .nf-form-content input[type="email"] {
  background-color: #1e1d1c;
  border: 1px solid #312F2E;
  color: #6B6865;
  height: 30px;
  line-height: 30px;
}
.tpl-form .nf-form-content textarea {
  background-color: #1e1d1c;
  border: 1px solid #312F2E;
  color: #6B6865;
  height: 80px;
}

.tpl-form .nf-form-content .recaptcha-container {
  margin-bottom: 0;
}

.nf-error.field-wrap .nf-field-element::after {
  font-size: 16px !important;
  width: 35px !important;
  height: 35px !important;
  line-height: 35px !important;
}

.nf-before-form-content,
.nf-after-form-content {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
}
.tpl-form .nf-form-content label {
  font-size: 14px;
  line-height: 1.2;
}


// NINJA FORM REGISTER --------------------------------------------

.tpl-contact-form {
  .nf-before-form-content {
    display: none;
  }
}

.contact-column .tpl-contact-form,
.tpl-register-form {
  .nf-form-content input[type="number"],
  .nf-form-content input[type="text"],
  .nf-form-content input[type="email"] {
    height: 40px;
    line-height: 40px;
  }
  .nf-form-content input[type="number"],
  .nf-form-content input[type="text"],
  .nf-form-content input[type="email"],
  .nf-form-content textarea,
  .nf-form-content .list-select-wrap .nf-field-element > div,
  .nf-form-content input:not([type="button"]){
    background-color: white;
    border: 1px solid #CCCCCC;
    color: #6B6865;
  }
  .nf-form-content input[type="number"]:focus,
  .nf-form-content input[type="text"]:focus,
  .nf-form-content input[type="email"]:focus,
  .nf-form-content textarea:focus,
  .nf-form-content .list-select-wrap .nf-field-element > div:focus,
  .nf-form-content input:not([type="button"]):focus,
  .list-select-wrap select:active + div,
  .list-select-wrap select:focus + div {
    background-color: #F4F4F4 !important;
    border: 1px solid #CCCCCC !important;
    color: #6B6865 !important;
  }
  .tpl-countries {
    .nf-field {
      .list-wrap {
        .nf-field-element {
          select {
            background: transparent;
            border: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: relative;
            z-index: 2;
          }
          select + div {
            background-color: white;
            border: 1px solid #CCCCCC;
            color: #6B6865;
            border-radius: 0;
            box-shadow: none;
            transition: all .5s;
            display: block;
            position: absolute;
            font-size: 16px;
            line-height: 16px;
            margin: 0;
            padding: 16px;
            height: 50px;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1;

            &:after {
              content: "\f078";
              font-family: FontAwesome;
              font-size: 20px;
              position: absolute;
              right: 10px;
              bottom: 0;
              height: 50px;
              line-height: 50px;
              color: #888;
              transition: all .5s;
            }
          }
        }
      }
    }
  }
}


// RESPONSIVE --------------------------------------------

@media (max-width: 767px) {
  .home-intro {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .sd-newsletter {
    padding: 35px 20px !important;
  }
  .sd-email-icon {
    padding: 0;
    padding-bottom: 15px;
  }
  .sd-newsletter-code {
    padding: 0;
  }
  #mc_embed_signup_scroll {
    .mc-field-group {
      width: 70%;
    }
    #mc-embedded-subscribe {
      width: 30%;
    }
  }
  .footer-widgets,
  .footer-sidebar-widget{
    margin-top: 35px;
  }
  .copyright {
    padding-top: 0;
  }
  .nf-field-container {
    margin-bottom: 5px !important;
  }

  .sd-tab-content {
    display: flex;
    flex-wrap: wrap;

    > ul {
      float: none !important;
      margin-right: 0 !important;
      width: 100% !important;
    }
  }
  .wpgmza_sl_query_div {
    margin-right: 0  !important;
    width: 100% !important;

    .wpgmza_sl_query_innerdiv2 {
      width: 100% !important;

      .addressInput {
        width: 100% !important;
      }
    }
  }
  .wpgmza_sl_radius_div {
    margin-right: 0  !important;
    width: 100% !important;

    .wpgmza_sl_radius_innerdiv2 {
      width: 100% !important;

      .wpgmza_sl_radius_select {
        width: 100% !important;
      }
    }
  }

}


.wpgmza_sl_main_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .wpgmza_sl_query_innerdiv1,
  .wpgmza_sl_radius_innerdiv1 {
    font-weight: bold;
    width: auto;
  }
  .wpgmza_sl_query_innerdiv2,
  .wpgmza_sl_radius_innerdiv2 {
    height: 40px;
    line-height: 40px;
  }
  .wpgmza_sl_query_div {
    display: inline-block !important;
    height: auto !important;
    margin-right: 1em;

    .wpgmza_sl_query_innerdiv1,
    .wpgmza_sl_query_innerdiv2 {
      float: none;
      display: block;

      .addressInput {
        float: none !important;
      }
    }
  }
  .wpgmza_sl_radius_div {
    display: inline-block !important;
    margin-top: 0 !important;
    height: auto !important;

    .wpgmza_sl_radius_innerdiv1,
    .wpgmza_sl_radius_innerdiv2 {
      float: none;
      display: block;

      .wpgmza_sl_radius_select {
        float: none !important;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative;
        z-index: 2;
        width: 100%;
        height: 40px;
        line-height: 40px;
      }
    }
    .wpgmza_sl_radius_innerdiv2 {
      margin-top: 5px;
      background-color: white;
      border: 1px solid #CCCCCC;
      color: #6B6865;
      border-radius: 0;
      position: relative;

      &:after {
        content: "\f078";
        font-family: FontAwesome;
        font-size: 20px;
        position: absolute;
        right: 10px;
        bottom: 0;
        height: 40px;
        line-height: 40px;
        color: #888;
        transition: all .5s;
      }
    }
  }
  .wpgmza_sl_search_button_div {
    width: 100% !important;
    height: auto !important;
  }
  .wpgmza_sl_reset_button_div {
    display: none;
  }
}














