* {
  box-sizing: border-box;
}

body {
  color: #1e1d1c;
}

ul li ul li {
  text-indent: 0;
}

.sf-menu a {
  text-transform: none;
}
.sf-menu li ul {
  padding: 0;
}
.sf-menu li li a,
.sf-menu li li.current-menu-item a {
  text-transform: none;
  padding: 0.4em 1em;
  line-height: 1.5;
}

p {
  padding-bottom: 0.8em;
}

textarea {
  font-family: inherit !important;
}

.sd-site-title img {
  height: 70px;
  width: auto;
  margin-top: 10px;
}
@media (max-width: 575px) {
  .sd-site-title {
    text-align: center;
    margin-top: 15px;
  }
  .sd-site-title img {
    height: auto;
  }
}

select.mnav {
  font-size: 1.5em;
  background-color: #1e1d1c;
  border: 1px solid #312F2E;
  color: #938e89;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#footer {
  color: #938e89;
}

.legal-link {
  margin-left: 2em;
}

.moretag {
  font-weight: bold;
  display: inline-block;
  margin-top: 0.5em;
}

.home-intro {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
  text-align: center;
}
.home-intro h1 {
  color: white;
  text-transform: uppercase;
  font-size: 3em;
  padding-bottom: 0;
  margin-bottom: 25px;
}
.home-intro p {
  color: white;
  margin-bottom: 25px;
}
.home-intro .donation-text {
  font-weight: bold;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.tpl-donate-button {
  display: inline-block;
  padding: 1em 2em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
}
.tpl-donate-button:hover {
  opacity: 0.8;
  color: black;
}

.home-push-blocks {
  margin-top: 120px;
  margin-bottom: -120px;
  text-align: left;
}
.home-push-blocks .push-block {
  position: relative;
  padding: 1.5em 15px;
}
.home-push-blocks .push-block .title {
  position: relative;
  min-height: 60px;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.home-push-blocks .push-block .title > * {
  top: 50%;
  transform: translate(0, -50%);
}
.home-push-blocks .push-block .title i.fa {
  position: absolute;
  left: 0;
  color: black;
  background-color: white;
  border-radius: 10em;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
}
.home-push-blocks .push-block .title span {
  position: absolute;
  left: 15px;
  margin-left: 60px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  display: block;
  text-align: left;
}
.home-push-blocks .push-block .title span:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  border-bottom: 2px solid white;
  width: 50%;
}
.home-push-blocks .push-block .content {
  margin-top: 0;
  padding-left: 5px;
}
.home-push-blocks .push-block .content p {
  color: #757554;
  margin-bottom: 0;
}

.members-lists {
  margin-bottom: 50px;
}

.tpl-resource img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.tpl-book {
  text-align: center;
}
.tpl-book .image {
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
}
.tpl-book .image img {
  min-width: auto;
  max-width: none;
  height: 250px;
  width: auto;
  margin-bottom: 0;
}

.tpl-member-other {
  display: flex;
  margin-bottom: 1em;
}
.tpl-member-other h5 {
  display: inline-block;
  padding-bottom: 0;
  margin-right: 1em;
  line-height: 1.25;
}
.tpl-member-other > div {
  display: inline-block;
  line-height: 1.35;
}
.tpl-member-other p {
  padding-bottom: 0;
}

.tpl-link > .image {
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}
.tpl-link > .image a {
  display: block;
  width: 100%;
}
.tpl-link > .image img {
  display: inline-block;
  max-height: 120px;
  width: auto;
  min-width: auto;
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .grid-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }
  .grid-4 > * {
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    width: calc(100% / 4 - 20px - 0.01px);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .grid-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }
  .grid-2 > * {
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    width: calc(100% / 2 - 20px - 0.01px);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .tpl-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 20px;
  }
  .tpl-link > * {
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    margin-right: 10px;
    margin-left: 10px;
  }
  .tpl-link > .image {
    width: calc(20% - 20px - 0.01px);
    text-align: center;
  }
  .tpl-link > .image a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .tpl-link > .image img {
    display: inline-block;
    width: auto;
    min-width: auto;
    max-width: 100%;
    margin-bottom: 0;
  }
  .tpl-link > .details {
    width: calc(80% - 20px - 0.01px);
  }
}
#sd-tabs-tpl {
  margin-bottom: 50px;
}
#sd-tabs-tpl .sd-tab-titles a {
  text-transform: uppercase;
  height: auto;
  line-height: initial;
}

#mc_embed_signup_scroll .mc-field-group {
  width: 80%;
}
#mc_embed_signup_scroll #mc-embedded-subscribe {
  width: 20%;
}

.wpgmza_sl_main_div input[type=number],
.wpgmza_sl_main_div input[type=text],
.wpgmza_sl_main_div input[type=email],
.nf-form-content input[type=number],
.nf-form-content input[type=text],
.nf-form-content input[type=email] {
  border: 1px solid #cccccc;
  color: #5a5a62;
  height: 40px;
  line-height: 40px;
  margin: 5px 0 0;
  max-width: 100%;
  padding: 0 10px;
  width: 100%;
}

.wpgmza_sl_main_div input[type=number]:focus,
.wpgmza_sl_main_div input[type=text]:focus,
.wpgmza_sl_main_div input[type=email]:focus,
.nf-form-content input[type=number]:focus,
.nf-form-content input[type=text]:focus,
.nf-form-content input[type=email]:focus,
.nf-form-content textarea:focus {
  border: 1px solid #f5f219;
}

.nf-form-content textarea {
  border: 1px solid #cccccc;
  color: #5a5a62;
  max-width: 100%;
  padding: 10px 0 0 10px;
  width: 100%;
}

.wpgmza_sl_main_div input[type=submit],
.wpgmza_sl_main_div input[type=submit]:active,
.wpgmza_sl_main_div input[type=submit]:hover,
.wpgmza_sl_main_div input[type=reset],
.wpgmza_sl_main_div input[type=reset]:active,
.wpgmza_sl_main_div input[type=reset]:hover,
.wpgmza_sl_main_div input[type=button],
.wpgmza_sl_main_div input[type=button]:active,
.wpgmza_sl_main_div input[type=button]:hover,
.tpl-form .nf-form-content input[type=submit],
.tpl-form .nf-form-content input[type=submit]:active,
.tpl-form .nf-form-content input[type=submit]:hover,
.tpl-form .nf-form-content input[type=reset],
.tpl-form .nf-form-content input[type=reset]:active,
.tpl-form .nf-form-content input[type=reset]:hover,
.tpl-form .nf-form-content input[type=button],
.tpl-form .nf-form-content input[type=button]:active,
.tpl-form .nf-form-content input[type=button]:hover {
  background-color: #f5f219;
  border: none;
  border-radius: 0;
  color: #1c1c1c;
  text-transform: uppercase;
  padding: 8px 20px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.wpgmza_sl_main_div input[type=submit]:hover,
.wpgmza_sl_main_div input[type=reset]:hover,
.wpgmza_sl_main_div input[type=button]:hover,
.tpl-form .nf-form-content input[type=submit]:hover,
.tpl-form .nf-form-content input[type=reset]:hover,
.tpl-form .nf-form-content input[type=button]:hover {
  opacity: 0.8;
}

div.wpcf7-validation-errors {
  display: none !important;
}

span.wpcf7-not-valid-tip {
  top: 0 !important;
  left: 10px !important;
  width: 230px !important;
  padding: 0 !important;
  line-height: 20px;
  border: none !important;
  color: #00adee;
  background: #fff;
}

.tpl-form .nf-form-content input[type=number],
.tpl-form .nf-form-content input[type=text],
.tpl-form .nf-form-content input[type=email] {
  background-color: #1e1d1c;
  border: 1px solid #312F2E;
  color: #6B6865;
  height: 30px;
  line-height: 30px;
}

.tpl-form .nf-form-content textarea {
  background-color: #1e1d1c;
  border: 1px solid #312F2E;
  color: #6B6865;
  height: 80px;
}

.tpl-form .nf-form-content .recaptcha-container {
  margin-bottom: 0;
}

.nf-error.field-wrap .nf-field-element::after {
  font-size: 16px !important;
  width: 35px !important;
  height: 35px !important;
  line-height: 35px !important;
}

.nf-before-form-content,
.nf-after-form-content {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
}

.tpl-form .nf-form-content label {
  font-size: 14px;
  line-height: 1.2;
}

.tpl-contact-form .nf-before-form-content {
  display: none;
}

.contact-column .tpl-contact-form .nf-form-content input[type=number],
.contact-column .tpl-contact-form .nf-form-content input[type=text],
.contact-column .tpl-contact-form .nf-form-content input[type=email],
.tpl-register-form .nf-form-content input[type=number],
.tpl-register-form .nf-form-content input[type=text],
.tpl-register-form .nf-form-content input[type=email] {
  height: 40px;
  line-height: 40px;
}
.contact-column .tpl-contact-form .nf-form-content input[type=number],
.contact-column .tpl-contact-form .nf-form-content input[type=text],
.contact-column .tpl-contact-form .nf-form-content input[type=email],
.contact-column .tpl-contact-form .nf-form-content textarea,
.contact-column .tpl-contact-form .nf-form-content .list-select-wrap .nf-field-element > div,
.contact-column .tpl-contact-form .nf-form-content input:not([type=button]),
.tpl-register-form .nf-form-content input[type=number],
.tpl-register-form .nf-form-content input[type=text],
.tpl-register-form .nf-form-content input[type=email],
.tpl-register-form .nf-form-content textarea,
.tpl-register-form .nf-form-content .list-select-wrap .nf-field-element > div,
.tpl-register-form .nf-form-content input:not([type=button]) {
  background-color: white;
  border: 1px solid #CCCCCC;
  color: #6B6865;
}
.contact-column .tpl-contact-form .nf-form-content input[type=number]:focus,
.contact-column .tpl-contact-form .nf-form-content input[type=text]:focus,
.contact-column .tpl-contact-form .nf-form-content input[type=email]:focus,
.contact-column .tpl-contact-form .nf-form-content textarea:focus,
.contact-column .tpl-contact-form .nf-form-content .list-select-wrap .nf-field-element > div:focus,
.contact-column .tpl-contact-form .nf-form-content input:not([type=button]):focus,
.contact-column .tpl-contact-form .list-select-wrap select:active + div,
.contact-column .tpl-contact-form .list-select-wrap select:focus + div,
.tpl-register-form .nf-form-content input[type=number]:focus,
.tpl-register-form .nf-form-content input[type=text]:focus,
.tpl-register-form .nf-form-content input[type=email]:focus,
.tpl-register-form .nf-form-content textarea:focus,
.tpl-register-form .nf-form-content .list-select-wrap .nf-field-element > div:focus,
.tpl-register-form .nf-form-content input:not([type=button]):focus,
.tpl-register-form .list-select-wrap select:active + div,
.tpl-register-form .list-select-wrap select:focus + div {
  background-color: #F4F4F4 !important;
  border: 1px solid #CCCCCC !important;
  color: #6B6865 !important;
}
.contact-column .tpl-contact-form .tpl-countries .nf-field .list-wrap .nf-field-element select,
.tpl-register-form .tpl-countries .nf-field .list-wrap .nf-field-element select {
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
}
.contact-column .tpl-contact-form .tpl-countries .nf-field .list-wrap .nf-field-element select + div,
.tpl-register-form .tpl-countries .nf-field .list-wrap .nf-field-element select + div {
  background-color: white;
  border: 1px solid #CCCCCC;
  color: #6B6865;
  border-radius: 0;
  box-shadow: none;
  transition: all 0.5s;
  display: block;
  position: absolute;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  padding: 16px;
  height: 50px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.contact-column .tpl-contact-form .tpl-countries .nf-field .list-wrap .nf-field-element select + div:after,
.tpl-register-form .tpl-countries .nf-field .list-wrap .nf-field-element select + div:after {
  content: "\f078";
  font-family: FontAwesome;
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  color: #888;
  transition: all 0.5s;
}

@media (max-width: 767px) {
  .home-intro {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .sd-newsletter {
    padding: 35px 20px !important;
  }
  .sd-email-icon {
    padding: 0;
    padding-bottom: 15px;
  }
  .sd-newsletter-code {
    padding: 0;
  }
  #mc_embed_signup_scroll .mc-field-group {
    width: 70%;
  }
  #mc_embed_signup_scroll #mc-embedded-subscribe {
    width: 30%;
  }
  .footer-widgets,
  .footer-sidebar-widget {
    margin-top: 35px;
  }
  .copyright {
    padding-top: 0;
  }
  .nf-field-container {
    margin-bottom: 5px !important;
  }
  .sd-tab-content {
    display: flex;
    flex-wrap: wrap;
  }
  .sd-tab-content > ul {
    float: none !important;
    margin-right: 0 !important;
    width: 100% !important;
  }
  .wpgmza_sl_query_div {
    margin-right: 0 !important;
    width: 100% !important;
  }
  .wpgmza_sl_query_div .wpgmza_sl_query_innerdiv2 {
    width: 100% !important;
  }
  .wpgmza_sl_query_div .wpgmza_sl_query_innerdiv2 .addressInput {
    width: 100% !important;
  }
  .wpgmza_sl_radius_div {
    margin-right: 0 !important;
    width: 100% !important;
  }
  .wpgmza_sl_radius_div .wpgmza_sl_radius_innerdiv2 {
    width: 100% !important;
  }
  .wpgmza_sl_radius_div .wpgmza_sl_radius_innerdiv2 .wpgmza_sl_radius_select {
    width: 100% !important;
  }
}
.wpgmza_sl_main_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.wpgmza_sl_main_div .wpgmza_sl_query_innerdiv1,
.wpgmza_sl_main_div .wpgmza_sl_radius_innerdiv1 {
  font-weight: bold;
  width: auto;
}
.wpgmza_sl_main_div .wpgmza_sl_query_innerdiv2,
.wpgmza_sl_main_div .wpgmza_sl_radius_innerdiv2 {
  height: 40px;
  line-height: 40px;
}
.wpgmza_sl_main_div .wpgmza_sl_query_div {
  display: inline-block !important;
  height: auto !important;
  margin-right: 1em;
}
.wpgmza_sl_main_div .wpgmza_sl_query_div .wpgmza_sl_query_innerdiv1,
.wpgmza_sl_main_div .wpgmza_sl_query_div .wpgmza_sl_query_innerdiv2 {
  float: none;
  display: block;
}
.wpgmza_sl_main_div .wpgmza_sl_query_div .wpgmza_sl_query_innerdiv1 .addressInput,
.wpgmza_sl_main_div .wpgmza_sl_query_div .wpgmza_sl_query_innerdiv2 .addressInput {
  float: none !important;
}
.wpgmza_sl_main_div .wpgmza_sl_radius_div {
  display: inline-block !important;
  margin-top: 0 !important;
  height: auto !important;
}
.wpgmza_sl_main_div .wpgmza_sl_radius_div .wpgmza_sl_radius_innerdiv1,
.wpgmza_sl_main_div .wpgmza_sl_radius_div .wpgmza_sl_radius_innerdiv2 {
  float: none;
  display: block;
}
.wpgmza_sl_main_div .wpgmza_sl_radius_div .wpgmza_sl_radius_innerdiv1 .wpgmza_sl_radius_select,
.wpgmza_sl_main_div .wpgmza_sl_radius_div .wpgmza_sl_radius_innerdiv2 .wpgmza_sl_radius_select {
  float: none !important;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.wpgmza_sl_main_div .wpgmza_sl_radius_div .wpgmza_sl_radius_innerdiv2 {
  margin-top: 5px;
  background-color: white;
  border: 1px solid #CCCCCC;
  color: #6B6865;
  border-radius: 0;
  position: relative;
}
.wpgmza_sl_main_div .wpgmza_sl_radius_div .wpgmza_sl_radius_innerdiv2:after {
  content: "\f078";
  font-family: FontAwesome;
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  color: #888;
  transition: all 0.5s;
}
.wpgmza_sl_main_div .wpgmza_sl_search_button_div {
  width: 100% !important;
  height: auto !important;
}
.wpgmza_sl_main_div .wpgmza_sl_reset_button_div {
  display: none;
}

/*# sourceMappingURL=tpl-style.css.map */
